/// Uses clip path to change an element to the shape of a hexagon
///
/// @param {Color|Mixed} $bg [#fb8c00] - Can be any value that is valid for the
/// background shorthand property.
/// @param {Length-Percentage} $size [15rem] - The height and width of the element
/// @param {Color} $fg-color [null] - Optional argument that sets the color
/// property for the elment.
///
/// @group Shapes
@mixin hexagon($bg: #fb8c00, $size: 15rem, $fg-color: null) {
  background: $bg;

  @if ($fg-color) {
    color: $fg-color;
  }
  clip-path: polygon( 50% 0, 100% 25%, 100% 75%,
                      50% 100%, 0 75%, 0 25% );
  height: $size;
  width: $size;
}
