// layout/media-queries.scss

@media only screen and (max-width: 1450px) {

  .nav__li {
    width: 10.9rem;
  }
}

@media only screen and (max-width: 1324px) {

  .nav__li {
    padding: 0 15px;
    width: auto;
  }
}

@media only screen and (max-width: 1024px) {

  .hamburger {
    display: inline-block;
  }

  .nav__ul {
    display: none;
  }

  .page-container {
    position: relative;
    top: -40px;
  }
}
