// layout/_nav.scss

.nav {
  @extend %clearfix;
  align-content: center;
  display: flex;
  height: 50%;
  justify-content: flex-end;
  margin-top: 60px;
  @include transform(translateY(-50%));

  @include elem(ul) {
    @include list-reset;
    overflow: hidden;
    height: 100%;
  }

  @include elem(li) {
    align-items: center;
    background: $blue;
    color: $white;
    display: inline-flex;
    float: right;
    height: 100%;
    justify-content: center;
    margin: 0 .25rem;
    width: conv-to-rem(120px);
    @include transition((
      border-radius .4s ease-out,
      height .4s ease-out,
      color .4s ease-out,
      width .6s linear,
      padding .6s linear
    ));

    &:hover,
    &:focus {
      @include border-radius(5% 5% 0 0);
      height: 120%;
      color: tint($red, 20%);
    }

    &:active {
      @include border-radius(8% 8% 0 0);
      color: tint($red, 20%);
      height: 114%;
      @include text-shadow;
    }
  }

  @include elem(link) {

    @include on-event(true) {
      font-size: 1.5em;
      font-weight: 700;
      text-decoration: none;
    }
  }
}

.hamburger {
  @include hamburger($white, $red, conv-to-rem(40px), conv-to-rem(32px), conv-to-rem(6px));
  @include transform(translateY(-50%));
  display: none;
  margin: 60px 30px;
  float: right;
}
