@use 'sass:color';
@use 'sass:list';
@use 'sass:map';
@use 'sass:math';
@use 'sass:meta';
@use 'sass:selector';
@use 'sass:string';
@use '../src/smthr/smth' as *;

.container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100dvh;
}

.controls-wrapper {
  position: absolute;
  top: 5%;
  z-index: 9999;
}

.stage {
  @include animation-stage(500px, 50% 55%, 80%, 900, 80vh);
  @include flex-center;

  border: 4px solid #000;
  margin: 0 auto;
}

.card {
  @include infinity-symbol();
  // position: relative;
  // background: rgba(#80f, 85%);
  font:
    700 1.125rem system-ui,
    sans-serif;
  text-align: center;
  // width: 14rem;
  // height: 14rem;
  // transition: all 1s;
}

.active-anim {

}

.front {
  @include animation-front-face;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  border-radius: 10px;
  background: #2dccb8 padding-box;
  text-align: center;
}

.back {
  @include animation-back-face(diagonal);

  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  border-radius: 10px;
  background: #53a3dc padding-box;
  text-align: center;
}

.txt {
  display: inline;
  font-size: 3em;
  text-align: center;
}

.front .txt {
  content: meta.type-of(blue);
}
