.container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100dvh;
}

.controls-wrapper {
  position: absolute;
  top: 5%;
}

.stage {
  width: 80%;
  height: 80vh;
  z-index: 900;
  -webkit-user-select: none;
  user-select: none;
  perspective: 500px;
  perspective-origin: 50% 55%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 4px solid #000;
  margin: 0 auto;
  background: lightblue;
}

.card {
  width: 200px;
  height: 200px;
  font: 700 1.125rem system-ui, sans-serif;
  text-align: center;
  position: relative;
}

.active-anim {
  animation: rotate-around-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes rotate-around-top {
  0% {
    transform: rotate(0);
    transform-origin: 50% 0%;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: 50% 0%;
  }
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  border-radius: 10px;
  background: #2dccb8 padding-box;
  text-align: center;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateX(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  border-radius: 10px;
  background: #53a3dc padding-box;
  text-align: center;
}
