body {
  height: 100dvh;
  margin: 0;
  display: grid;
  place-items: center;
}

.anim-stage {
  width: 80%;
  height: 80vh;
  user-select: none;
  perspective: 500px;
  perspective-origin: 55% 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
  border: 4px solid red;
  background: lightblue;
}

.animation-element {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: red;
  font: 700 2.25rem system-ui, sans-serif;
  text-align: center;
  transform: scale(0.5);
  animation: scale-up-vertically-from-bottom 1s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
}
@keyframes scale-up-vertically-from-bottom {
  0% {
    transform: scaleY(0.4);
    transform-origin: 0% 100%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 0% 100%;
  }
}
