/// Uses clip path to change an element to the shape of an octagon.
///
/// @param {Color|Mixed} $bg [#8b0000] - Can be any value that is valid for the
/// background shorthand property.
/// @param {Length-Percentage} $size [15rem] - The height and width of
/// the element.
/// @param {Color} $fg-color [null] - Optional argument that sets the color
/// property for the elment.
///
/// @group Shapes
@mixin octagon($bg: #8b0000, $size: 15rem, $fg-color: null) {
  background: $bg;

  @if ($fg-color) {
    color: $fg-color;
  }
  clip-path: polygon( 30% 0, 70% 0, 100% 30%, 100% 70%,
                      70% 100%, 30% 100%, 0 70%, 0 30% );
  height: $size;
  width: $size;
}

/// References the octagon clip-path mixin to create a stop sign shape with a
/// background color of red and white text as the defaults.
///
/// @param {Color|Mixed} $bg [#8b0000] - Can be any value that is valid for the
/// background shorthand property.
/// @param {Length-Percentage} $size [15rem] - The height and width of
/// the element.
/// @param {Color} $fg-color [#fff] - Optional argument that sets the color
/// property for the elment.
///
/// @group Shapes
/// @require {mixin} octagon
@mixin stop-sign($bg: #8b0000, $size: 15rem, $fg-color: #fff) {
  @include octagon($bg, $size, $fg);
}
