/* Error: Missing argument $alias.
 *    ,--> src\smthr\test.scss
 * 11 |   content: is-alias('fart')
 *    |            ^^^^^^^^^^^^^^^^ invocation
 *    '
 *    ,--> src\smthr\functions\_is-alias.scss
 * 20 | @function is-alias($keyword, $alias, $resolution-map: $alias-resolution-map) {
 *    |           ================================================================== declaration
 *    '
 *   src\smthr\test.scss 11:12  is-alias()
 *   src\smthr\test.scss 11:12  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $alias.\a    \250c \2500 \2500 > src\\smthr\\test.scss\a 11 \2502    content: is-alias('fart')\a    \2502             ^^^^^^^^^^^^^^^^ invocation\a    \2575 \a    \250c \2500 \2500 > src\\smthr\\functions\\_is-alias.scss\a 20 \2502  @function is-alias($keyword, $alias, $resolution-map: $alias-resolution-map) {\a    \2502            \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a    \2575 \a   src\\smthr\\test.scss 11:12  is-alias()\a   src\\smthr\\test.scss 11:12  root stylesheet";
}
