/* Error: 'Invalid $corner of "top-left" chosen for the [ swing() ] mixin. The $corner value must be one of the following: `top-right`, `bottom-right`, `bottom-left`, `top-left`.'
 *     ,
 * 115 |   @include swing('open', 'top-left');
 *     |   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   test\sass\pages\_home.scss 115:3  @forward
 *   test\sass\pages\_index.scss 1:1   @use
 *   test\sass\main.scss 8:1           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: 'Invalid $corner of \"top-left\" chosen for the [ swing() ] mixin. The $corner value must be one of the following: `top-right`, `bottom-right`, `bottom-left`, `top-left`.'\a     \2577 \a 115 \2502    @include swing('open', 'top-left');\a     \2502    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   test\\sass\\pages\\_home.scss 115:3  @forward\a   test\\sass\\pages\\_index.scss 1:1   @use\a   test\\sass\\main.scss 8:1           root stylesheet";
}
