.clearfix:before, .nav:before, .clearfix:after, .nav:after {
  content: '';
  display: table;
}

.clearfix:after, .nav:after {
  clear: both;
}

.visually-hidden, .visually-hidden--focusable {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

:root {
  --size-multiple: 1;
}

html {
  box-sizing: border-box;
  font: 100%/1.2 sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
:before,
:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: #3e3e3e;
  font: 1em Roboto, Helvetica, Arial, "Nimbus Sans L", -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  box-sizing: content-box;
  display: block;
  font-size: 2em;
  height: 1px;
  margin: 1em 0;
  overflow: visible;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  padding: .35em .75em .625em;
}

textarea {
  overflow: auto;
  resize: vertical;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

figure {
  margin: 1em 40px;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #FF0;
  color: #0a0a0a;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner
  border-style: none;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template,
[hidden] {
  display: none;
}

table {
  border-collapse: collapse;
}

body {
  color: #3e3e3e;
  font: 1em Roboto, Helvetica, Arial, "Nimbus Sans L", -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
}

::-moz-selection {
  background: #f2f2f2;
  text-shadow: none;
}

::selection {
  background: #f2f2f2;
  text-shadow: none;
}

hr {
  border-top: 1px solid #ccc;
  box-sizing: content-box;
  display: block;
  height: 1px;
  margin: 1em 0;
  overflow: visible;
  padding: 0;
}

a, a:link, a:hover, a:active, a:focus {
  color: inherit;
  text-decoration: none;
}

div:focus,
span:focus,
a:focus,
button:focus,
input:focus,
select:focus,
option:focus,
progress:focus {
  outline-style: none;
  outline-width: 0;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.visually-hidden--focusable:active, .visually-hidden--focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.show-visually {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  overflow: visible;
  position: static !important;
  white-space: normal;
  width: auto;
}

.browserupgrade {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.header {
  background: #032F4F;
  color: #FEFEFE;
  height: 120px;
  width: 100vw;
}

.page-heading {
  -webkit-animation: slide 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)    both;
  animation: slide 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)    both;
  display: block;
  color: #FEFEFE;
  float: left;
  font-size: 3em;
  margin: 30px;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.nav {
  align-content: center;
  display: flex;
  height: 50%;
  justify-content: flex-end;
  margin-top: 60px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.nav__ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.nav__li {
  align-items: center;
  background: #032F4F;
  color: #FEFEFE;
  display: inline-flex;
  float: right;
  height: 100%;
  justify-content: center;
  margin: 0 .25rem;
  width: 12rem;
  -webkit-transition: border-radius 0.4s ease-out, height 0.4s ease-out, color 0.4s ease-out, width 0.6s linear, padding 0.6s linear;
  transition: border-radius 0.4s ease-out, height 0.4s ease-out, color 0.4s ease-out, width 0.6s linear, padding 0.6s linear;
}

.nav__li:hover, .nav__li:focus {
  background-clip: padding-box;
  border-radius: 5% 5% 0 0;
  height: 120%;
  color: #c65134;
}

.nav__li:active {
  background-clip: padding-box;
  border-radius: 8% 8% 0 0;
  color: #c65134;
  height: 114%;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}

.nav__link, .nav__link:link, .nav__link:hover, .nav__link:active, .nav__link:focus {
  font-size: 1.5em;
  font-weight: 700;
  text-decoration: none;
}

.hamburger {
  cursor: pointer;
  display: inline-block;
  height: 3.2rem;
  position: relative;
  vertical-align: middle;
  width: 4rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
  margin: 60px 30px;
  float: right;
}

.hamburger:after {
  background: #FEFEFE;
  box-shadow: 0 1.3rem 0 #FEFEFE, 0 2.6rem 0 #FEFEFE;
  content: '';
  display: block;
  height: 0.6rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hamburger:hover:after {
  background: #B82601;
  box-shadow: 0 1.3rem 0 #B82601, 0 2.6rem 0 #B82601;
}

.hamburger:active:after {
  color: #0a0a0a;
}

.banner {
  background: #1779ba;
  background: -moz-linear-gradient(-45deg, #1779ba 20%, #fb0 100%);
  background: -webkit-linear-gradient(-45deg, #1779ba 20%, #fb0 100%);
  background: linear-gradient(135deg, #1779ba 20%, #fb0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1779ba',endColorstr='#fb0',GradientType=1);
  border-color: #0a0a0a;
  border-style: solid;
  border-width: 0 0 2px;
  box-sizing: border-box;
  height: 60vh;
  width: 100vw;
}

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^='#']:after,
  a[href^='javascript:']:after {
    content: '';
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

@media only screen and (max-width: 1450px) {
  .nav__li {
    width: 10.9rem;
  }
}

@media only screen and (max-width: 1324px) {
  .nav__li {
    padding: 0 15px;
    width: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .hamburger {
    display: inline-block;
  }
  .nav__ul {
    display: none;
  }
  .page-container {
    position: relative;
    top: -40px;
  }
}
/*# sourceMappingURL=main.css.map */
