/// Creates a scalable element that maintains a given ratio.
///
/// @example - @include responsive-ratio(16, 9);
///
/// @param {Number} $x - The width portion of the ratio.
/// @param {Number} $y - The height portion of the ratio.
///
/// @group Utilities
@mixin responsive-ratio($x, $y) {
  position: relative;

  &:before {
    display: block;
    content: '';
    padding-top: ($y / $x) * 100%;
    width: 100%;
  }

  > .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
