/// Adds a colored text outline to a font.
///
/// @param {Color} $color [#0a0a0a} - The outline color for the font.
/// @param {Boolean|String} $is-important - Mark the effect as important. This
/// should almost always be avoided.
///
/// @group Utilities
@mixin text-outline($color: #0a0a0a, $is-important: false) {
  @if ($is-important == true or $is-important == 't' or $is-important == 'imp'
      or $is-important == 'important' or $is-important == '!important') {
    $is-important: !important;
  } @else {
    $is-important: null;
  }

  text-shadow:
    -1px -1px 0 #{$color},
    1px -1px 0 #{$color},
    -1px 1px 0 #{$color},
    1px 1px 0 #{$color} $is-important;
}
