////
///
/// All the public variables that are used in the Smoother library that are of
/// the `Color` type.
///
/// @access public
/// @group Utilities
/// @type Color
///
////


/// White to black grayscale color spectrum,
/// gray-1 (the lightest) through gray-10 (the darkest).
$white: #fff !default;
$gray-1: hsl(210, 16.667%, 97.65%) !default;
$gray-2: hsl(210, 15.79%, 92.55%) !default;
$gray-3: hsl(210, 13.8%, 88.6%) !default;
$gray-4: hsl(210, 14%, 83.1%) !default;
$gray-5: hsl(210, 10.8%, 71%) !default;
$gray-6: hsl(208.2, 7.3%, 45.7%) !default;
$gray-7: hsl(210, 8.8%, 31.4%) !default;
$gray-8: hsl(210, 10.3%, 22.7%) !default;
$gray-9: hsl(210, 10.8%, 14.5%) !default;
$gray-10: hsl(0, 0%, 7.06%) !default;
$black: #000 !default;

/// A map containing all the grayscale colors, with values from 0 (white) to
/// 11 (black) with 1-10 being gray-1 through gray-10.
///
/// @type Map
$grayscale-map: (
  0: $white,
  1: $gray-1,
  2: $gray-2,
  3: $gray-3,
  4: $gray-4,
  5: $gray-5,
  6: $gray-6,
  7: $gray-7,
  8: $gray-8,
  9: $gray-9,
  10: $gray-10,
  11: $black
) !default;

/// Black with just a bit of purple in it
$black-purple: hsl(300, 20%, 3.4%) !default;

/// The primary color, typically used for the majority
/// of the colors in your theme.
$color-primary: hsl(203.84, 92%, 30.2%) !default;

/// The secondary color, used for secondary actions
/// or to complement the primary color.
$color-secondary: hsl(0, 0%, 46.27%) !default;

// The accent color, used for accents or to draw attention.
$color-accent: hsl(250.4, 100%, 14.71%) !default;

/// The success color, used to indicate successful actions or positive outcomes.
$color-success: hsl(142.36, 69.1%, 54.31%) !default;

/// The info color, used to draw atention to important information
$color-info: hsl(188.2, 77.78%, 40.59%) !default;

/// The warning color, used to indicate caution or potential issues.
$color-warning: hsl(44, 100%, 50%) !default;

/// The alert color, used to indicate errors or critical issues.
$color-alert: hsl(0, 100%, 50%) !default;

/// A map containting all the indicator colors.
///
/// @type Map
///
/// @prop {String} 'success' [$color-success] - Used to indicate
/// successful actions or positive outcomes.
/// @prop {String} 'info' [$color-info] - Used to draw atention
/// to important information.
/// @prop {String} 'warning' [$color-warning] - Used to indicate
/// caution or potential issues.
/// @prop {String} 'alert' [$color-alert] - Used to indicate
/// errors or critical issues.
$indicator-colors: (
  success: $color-success,
  info: $color-info,
  warning: $color-warning,
  alert: $color-alert
) !default;

/// When you want an off-white color
$color-light: $gray-1 !default;

/// When you want an off-black color
$color-dark: $gray-9 !default;

/// Default text color for the page
$color-body-light: $gray-9 !default;

/// Default light-mode background color for the page
$color-body-bg-light: $white !default;

/// Default light-mode background gradient for the page
$color-body-bg-gradient-light: linear-gradient(135deg, $color-body-bg-light, $gray-1) !default;

/// Default dark-mode text color for the page
$color-body-dark: $white !default;

/// Default dark-mode background color for the page
$color-body-bg-dark: $gray-10 !default;

/// Default dark-mode background gradient for the page
$color-body-bg-gradient-dark: linear-gradient(135deg, $color-body-bg-dark, $black-purple) !default;

/// The color of all the `<a>` links
$color-link: $color-primary !default;

/// Highlight background color when text is selected.
$color-selection-highlight: $color-primary !default;

/// Text color when it is selected.
$color-selection-text: $white !default;

/// The color of the ring around elements when they are keyboard focused.
$color-focus-ring: $black !default;

/// The dark color for use in the `color-text-contrast()` function.
$contrast-text-dark: $gray-9 !default;

/// The light color for use in the `color-text-contrast()` function.
$contrast-text-light: $white !default;

/// Map of all the CSS color names and their hex values. Can use to convert
/// CSS color names into their hex value when Sass color module functions
/// return them as their color name.
///
/// Every key of the map is a CSS color name of type 'color', not 'string'.
/// Every associated value is the 3 or 6 digit hex color value for that name.
///
/// @type Map
/// @see {function} conv-color-name
$color-names-map: (
  aliceblue: #f0f8ff,
  antiquewhite: #faebd7,
  aqua: #0ff,
  aquamarine: #7fffd4,
  azure: #f0ffff,
  beige: #f5f5dc,
  bisque: #ffe4c4,
  black: #000,
  blanchedalmond: #ffebcd,
  blue: #00f,
  blueviolet: #8a2be2,
  brown: #a52a2a,
  burlywood: #deb887,
  cadetblue: #5f9ea0,
  chartreuse: #7fff00,
  chocolate: #d2691e,
  coral: #ff7f50,
  cornflowerblue: #6495ed,
  cornsilk: #fff8dc,
  crimson: #dc143c,
  darkblue: #00008b,
  darkcyan: #008b8b,
  darkgoldenrod: #b8860b,
  darkgray: #a9a9a9,
  darkgreen: #006400,
  darkkhaki: #bdb76b,
  darkmagenta: #8b008b,
  darkolivegreen: #556b2f,
  darkorange: #ff8c00,
  darkorchid: #9932cc,
  darkred: #8b0000,
  darksalmon: #e9967a,
  darkseagreen: #8fbc8f,
  darkslateblue: #483d8b,
  darkslategray: #2f4f4f,
  darkturquoise: #00ced1,
  darkviolet: #9400d3,
  deeppink: #ff1493,
  deepskyblue: #00bfff,
  dimgray: #696969,
  dodgerblue: #1e90ff,
  firebrick: #b22222,
  floralwhite: #fffaf0,
  forestgreen: #228b22,
  fuchsia: #f0f,
  gainsboro: #dcdcdc,
  ghostwhite: #f8f8ff,
  gold: #ffd700,
  goldenrod: #daa520,
  gray: #808080,
  green: #008000,
  greenyellow: #adff2f,
  honeydew: #f0fff0,
  hotpink: #ff69b4,
  indianred: #cd5c5c,
  indigo: #4b0082,
  ivory: #fffff0,
  khaki: #f0e68c,
  lavender: #e6e6fa,
  lavenderblush: #fff0f5,
  lawngreen: #7cfc00,
  lemonchiffon: #fffacd,
  lightblue: #add8e6,
  lightcoral: #f08080,
  lightcyan: #e0ffff,
  lightgoldenrodyellow: #fafad2,
  lightgray: #d3d3d3,
  lightgreen: #90ee90,
  lightpink: #ffb6c1,
  lightsalmon: #ffa07a,
  lightseagreen: #20b2aa,
  lightskyblue: #87cefa,
  lightslategray: #789,
  lightsteelblue: #b0c4de,
  lightyellow: #ffffe0,
  lime: #0f0,
  limegreen: #32cd32,
  linen: #faf0e6,
  maroon: #800000,
  mediumaquamarine: #66cdaa,
  mediumblue: #0000cd,
  mediumorchid: #ba55d3,
  mediumpurple: #9370db,
  mediumseagreen: #3cb371,
  mediumslateblue: #7b68ee,
  mediumspringgreen: #00fa9a,
  mediumturquoise: #48d1cc,
  mediumvioletred: #c71585,
  midnightblue: #191970,
  mintcream: #f5fffa,
  mistyrose: #ffe4e1,
  moccasin: #ffe4b5,
  navajowhite: #ffdead,
  navy: #000080,
  oldlace: #fdf5e6,
  olive: #808000,
  olivedrab: #6b8e23,
  orange: #ffa500,
  orangered: #ff4500,
  orchid: #da70d6,
  palegoldenrod: #eee8aa,
  palegreen: #98fb98,
  paleturquoise: #afeeee,
  palevioletred: #db7093,
  papayawhip: #ffefd5,
  peachpuff: #ffdab9,
  peru: #cd853f,
  pink: #ffc0cb,
  plum: #dda0dd,
  powderblue: #b0e0e6,
  purple: #800080,
  rebeccapurple: #639,
  red: #f00,
  rosybrown: #bc8f8f,
  royalblue: #4169e1,
  saddlebrown: #8b4513,
  salmon: #fa8072,
  sandybrown: #f4a460,
  seagreen: #2e8b57,
  seashell: #fff5ee,
  sienna: #a0522d,
  silver: #c0c0c0,
  skyblue: #87ceeb,
  slateblue: #6a5acd,
  slategray: #708090,
  snow: #fffafa,
  springgreen: #00ff7f,
  steelblue: #4682b4,
  tan: #d2b48c,
  teal: #008080,
  thistle: #d8bfd8,
  tomato: #ff6347,
  turquoise: #40e0d0,
  violet: #ee82ee,
  wheat: #f5deb3,
  white: #fff,
  whitesmoke: #f5f5f5,
  yellow: #ff0,
  yellowgreen: #9acd32
) !default;
