/// CSS Grid column-width property with vendor prefixes.
///
/// @param {Length-Percentage|Keyword} $value [30%] - The columnn-width value.
///
/// @group Utilities
@mixin column-width ($value: 30%) {
  -webkit-column-width: $value;
     -moz-column-width: $value;
          column-width: $value;
}
