/// A vendor prefix based utilitiy mixin that applies the flex-flow shorthand
/// property with the necessary vendor prefixes to ensure wide browser support.
/// The flex-flow property is shorthand for the flex-direction and flex-wrap
/// properties.
///
/// @param {Keyword|String} $flex-direction [row] - The flex-direction part of the
/// flex-flow property.
/// @param {Keyword|String} $flex-wrap [nowrap] - The flex-wrap part of the
/// flex-flow property.
///
/// @group Utilities
/// @throw No value entered
@mixin flex-flow($flex-direction: row, $flex-wrap: nowrap) {
  $f-dir: row;
  $b-dir: normal;
  $b-orient: horizontal;
  $full-value: null;

  @if $flex-direction {
    @if ($flex-direction == 'nowrap' or $flex-direction == 'wrap'
        or $flex-direction == 'wrap-reverse') {
      $flex-wrap: $flex-direction;
      $flex-direction: null;
    } @else if ($flex-direction == 'row-reverse' or $flex-direction == 'r-r'
        or $flex-direction == 'rr' or $flex-direction == 'row-rev'
        or $flex-direction == 'rowrev') {
      $f-dir: row-reverse;
      $b-dir: reverse;
    } @else if ($flex-direction == 'column' or $flex-direction == 'col'
        or $flex-direction == 'c' or str-slice($flex-direction, 1, 4) == 'vert'
        or $flex-direction == 'v') {
      $f-dir: column;
      $b-orient: vertical;
    } @else if ($flex-direction == 'column-reverse'
        or $flex-direction == 'col-reverse' or $flex-direction == 'col-rev'
        or $flex-direction == 'colrev' or $flex-direction == 'c-r'
        or $flex-direction == 'c-rev' or $flex-direction == 'cr') {
      $f-dir: column-reverse;
      $b-dir: reverse;
      $b-orient: vertical;
    } @else if ($flex-direction != 'row' and $flex-direction != 'r'
        and $flex-direction != 'normal' and $flex-direction != 'h'
        and str-slice($flex-direction, 1, 5) != 'horiz') {
      @error 'Invalid `$flex-direction` value of `#{inspect($flex-direction)}`' +
          ' passed to the `flex-flow` mixin.';
    }
  } @else {
    $flex-direction: null;
  }
  @if $flex-direction {
    $full-value: if($flex-wrap, #{$f-dir $flex-wrap}, $f-dir);
    -webkit-box-orient: $b-orient;
    -webkit-box-direction: $b-dir;
  } @else {
    $full-value: $flex-wrap;
  }
  @if $flex-wrap or $flex-direction {
    -webkit-flex-flow: $full-value;
        -ms-flex-flow: $full-value;
            flex-flow: $full-value;
  } @else {
    @error 'You must enter a value for the `flex-flow` mixin.';
  }
}
