@use 'sass:list';
@use 'sass:math';
@use '../../functions/equals-false' as *;
@use '../../functions/is-alias' as *;
@use '../../functions/is-number' as *;
@use '../../functions/is-global-value' as *;

/// Apply the animation stage to the parent element of any element that has
/// a 3D animation.
///
/// @param {Number | String} $perspective [500px] - The perspective value that
/// will affect the child element's 3D animation.
/// @param {String | Number | List} $p-origin [55% 50%] - The
/// perspecitve-origin value that will effect the child element's 3D animation
/// The syntax for this property can be just an x-position which can be the
/// keyword, `left` (equal to a 0 value), `center` (equal to 50%), or `right`
/// (equal to 100%), or can be a length-percentage. It can be also be in an
/// x-position y-position 2-value format. The y-position value can be the
/// keyword, `top` (equal to 0), `center` (equal to 50%), or `bottom` (equal to
/// 100%), or can it can be a length-percentage. (Ex: `left bottom` or
/// `100% 50%` or `left 30%`). This property also accepts any CSS global value
/// as valid.
///
/// @param {Number} $width [null] - The width of the element.
/// @param {Number} $z-index [null] - Sets the z-index value, if passed.
/// @param {Number} $height [$width] - The height of the element.
///
/// @group Animations
/// @require {function} equals-false
/// @require {function} is-alias
/// @require {function} is-global-value
/// @require {function} is-number
///
/// @throw Invalid $perspective value error.
/// @throw Invalid $z-index value error.
@mixin animation-stage(
  $perspective: 500px,
  $p-origin: 55% 50%,
  $width: null,
  $z-index: null,
  $height: $width
) {
  @if $width {
    width: $width;
  }

  @if $height {
    height: $height;
  }

  @if $z-index and
    is-number($z-index) and
    math.is-unitless($z-index)
  {
    z-index: $z-index;
  } @else {
    @error 'Invalid z-index value passed to the [ animation-stage() ] mixin.';
  }

  -webkit-user-select: none;
  user-select: none;

  @if equals-false($perspective) or is-alias('none', $perspective) {
    perspective: none;
  } @else if (
      is-number($perspective) and $perspective > 0 and
        list.index('px' 'em' 'rem', math.unit($perspective))
    ) or is-global-value($perspective)
  {
    perspective: $perspective;
  } @else {
    @error 'Invalid perspective value passed to the [ animation-stage() ] ' +
        'mixin.';
  }

  perspective-origin: $p-origin;
}
