@forward 'animation-back-face';
@forward 'animation-front-face';
@forward 'animation-stage';
@forward 'bounce';
@forward 'bounciness';
@forward 'color-shifter';
@forward 'fade';
@forward 'fast-frames';
@forward 'flip';
@forward 'flip-scale';
@forward 'flip-scale-2';
@forward 'pan-wipe';
@forward 'puff';
@forward 'roll';
@forward 'rotate';
@forward 'rotate-scale';
@forward 'scale-down';
@forward 'scale-up';
@forward 'slide';
@forward 'slit';
@forward 'snappiness';
@forward 'space';
@forward 'swing';
@forward 'text-blur-out';
@forward 'text-drop-shadow';
@forward 'text-flicker';
@forward 'text-focus-in';
@forward 'text-glitch';
@forward 'text-pop-shadow';
@forward 'text-pop-up';
@forward 'text-tracking-in';
@forward 'text-tracking-out';
@forward 'twister';
@forward 'wobbliness';
@forward 'zoom-in';
