@use 'sass:meta';
@use 'sass:list';
@use 'sass:math';
@use 'sass:string';
@use '../../functions/equals-false' as *;
@use '../../functions/equals-true' as *;
@use '../../functions/is-alias' as *;
@use '../../functions/is-falsey' as *;
@use '../../functions/is-global-value' as *;
@use '../../functions/is-list' as *;
@use '../../functions/is-number' as *;
@use '../../functions/is-string' as *;
@use '../../functions/list-to-string' as *;

/// Generates an animation that slides an element in or out from or towards a
/// given direction.
///
/// @param {Bool | String} $in-or-out ['in'] - Determines if the element will
/// slide 'in' (`in`, `true`, or `i`) or 'out' (`out`, `false`, or `o`).
/// @param {String} $direction ['top'] - Will either slide in from this
/// direction or slide out towards this direction, depending on the value of
/// $in-or-out. Accepts the following $direction values: `top`, `top-right`,
/// `right`, `bottom-right`, `bottom`, `bottom-left`, `left`, and `top-left`.
/// Accepted values also include all valid aliases for these $direction values.
/// @param {Number} $duration [0.6s] - The duration of the animation (`s` or `ms`)
/// @param {Number} $delay [null] - The optional delay time for the animation.
/// @param {Number | String} $iterations [null] - The number of iterations
/// for the animation to complete. Can be `infinite`, any unitless number, or
/// any CSS global value.
/// @param {String} $anim-dir [null] - Sets the animation-direction property.
/// Can be `normal`, `reverse`, `alternate`, or `alternate-reverse`. Can also be
/// any CSS global value. Default of `null` assumes the CSS property's default
/// of `normal`.
/// @param {Timing-Function} $timing-func [null] - The timing function for the
/// animation. A `null` value passed here will default to the recommended timing
/// function for this animation of `cubic-bezier(0.25, 0.46, 0.45, 0.94)`
/// (the equivalent of timing('ease-out-quad')) on a "slide in" and
/// `cubic-bezier(0.55, 0.085, 0.68, 0.53)`
/// (the equivalent of timing('ease-in-quad'))  on a "slide out".
/// @param {Number | String} $anim-num [null] - If the mixin is used more than
/// once with different values in a stylesheet, you can pass a number or string
/// to the mixin here that gets appeneded to end of the animation name so that
/// the animations do not overwrite each other.
///
/// @group Animations
/// @require {function} equals-false
/// @require {function} equals-true
/// @require {function} is-alias
/// @require {function} is-falsey
/// @require {function} is-global-value
/// @require {function} is-list
/// @require {function} is-number
/// @require {function} is-string
/// @require {function} list-to-string
///
/// @throw Invalid $in-or-out value error.
/// @throw Invalid $duration value error.
/// @throw Invalid $delay value error.
/// @throw Invalid $iterations value error.
/// @throw Invalid $anim-dir value error.
@mixin slide(
  $in-or-out: 'in',
  $direction: 'top',
  $duration: 0.6s,
  $delay: null,
  $iterations: null,
  $anim-dir: null,
  $timing-func: null,
  $anim-num: null
) {
  // Default values for a slide 'in' from the 'top' $direction
  $opacity-val-1: 0;
  $opacity-val-2: 1;
  $trans-val-1: translateY(-1000px);
  $trans-val-2: translateY(0);
  $temp-val: null;
  $anim-suffix: '';

  @if $in-or-out and is-string($in-or-out) {
    $in-or-out: string.to-lower-case($in-or-out);
  }

  @if $delay and is-string($delay) {
    $delay: string.to-lower-case($delay);
  }

  @if $anim-dir {
    @if is-list($anim-dir) {
      $anim-dir: list-to-string($anim-dir);
    }

    @if is-string($anim-dir) {
      $anim-dir: string.to-lower-case($anim-dir);
    }
  }

  @if $timing-func and is-string($timing-func) {
    $timing-func: string.to-lower-case($timing-func);
  }

  @if equals-true($in-or-out) or is-alias('in', $in-or-out) {
    $in-or-out: true;
    $anim-suffix: '-in-from-';
  } @else if equals-false($in-or-out) or is-alias('out', $in-or-out) {
    $in-or-out: false;
    $anim-suffix: '-out-to-';
  } @else {
    @error 'Invalid $in-or-out value of #{meta.inspect($in-or-out)} for the ' +
        '[ slide() ] mixin.';
  }

  @if $direction {
    @if is-string($direction) {
      $direction: string.to-lower-case($direction);
    }

    @if is-alias('bottom', $direction) {
      $trans-val-1: translateY(1000px);
      $anim-suffix: string.insert(
        $anim-suffix,
        'bottom',
        string.length($anim-suffix) + 1
      );
    } @else if is-alias('left', $direction) {
      $trans-val-1: translateX(-1000px);
      $trans-val-2: translateX(0);
      $anim-suffix: string.insert(
        $anim-suffix,
        'left',
        string.length($anim-suffix) + 1
      );
    } @else if is-alias('right', $direction) {
      $trans-val-1: translateX(1000px);
      $trans-val-2: translateX(0);
      $anim-suffix: string.insert(
        $anim-suffix,
        'right',
        string.length($anim-suffix) + 1
      );
    } @else if is-alias('top left', $direction) {
      $trans-val-1: translateY(-1000px) translateX(-1000px);
      $trans-val-2: translateY(0) translateX(0);
      $anim-suffix: string.insert(
        $anim-suffix,
        'top-left',
        string.length($anim-suffix) + 1
      );
    } @else if is-alias('top right', $direction) {
      $trans-val-1: translateY(-1000px) translateX(1000px);
      $trans-val-2: translateY(0) translateX(0);
      $anim-suffix: string.insert(
        $anim-suffix,
        'top-right',
        string.length($anim-suffix) + 1
      );
    } @else if is-alias('bottom right', $direction) {
      $trans-val-1: translateY(1000px) translateX(1000px);
      $trans-val-2: translateY(0) translateX(0);
      $anim-suffix: string.insert(
        $anim-suffix,
        'bottom-right',
        string.length($anim-suffix) + 1
      );
    } @else if is-alias('bottom left', $direction) {
      $trans-val-1: translateY(1000px) translateX(-1000px);
      $trans-val-2: translateY(0) translateX(0);
      $anim-suffix: string.insert(
        $anim-suffix,
        'bottom-left',
        string.length($anim-suffix) + 1
      );
    } @else if not is-alias('top', $direction) {
      @error 'Invalid direction of `#{meta.inspect($direction)}` chosen for the ' +
          '[ slide() ] mixin. Accepted values for $direction are: `top`, ' +
          '`top-right`, `right`, `bottom-right`, `bottom`, `bottom-left`, ' +
          '`left`, and `top-left`, along with the various accepted aliases of ' +
          'those values.';
    }
  } @else {
    @error 'No $direction value specified for the [ slide() ] mixin. You must ' +
        'provide a value for $direction. Accepted values for $direction are: ' +
          '`top`, `top-right`, `right`, `bottom-right`, `bottom`, `bottom-left`, ' +
          '`left`, and `top-left`, along with the various accepted aliases of ' +
          'those values.';
  }

  // If sliding out rather than in, reverse the necessary values
  @if not $in-or-out {
    $opacity-val-1: 1;
    $opacity-val-2: 0;

    $temp-val: $trans-val-1;
    $trans-val-1: $trans-val-2;
    $trans-val-2: $temp-val;
  }

  @if not is-number($duration) {
    @error 'Invalid $duration value of `#{$duration}` for the [ slide() ] ' +
        'mixin. The duration property must be a number.';
  } @else if math.is-unitless($duration) {
    // If no there is no unit for $duration, unless $duration > 60, assume seconds
    $duration: if($duration > 60, $duration * 1ms, $duration * 1s);
  } @else if not list.index('s' 'ms', math.unit($duration)) {
    @error 'Invalid $duration value of `#{$duration}` for the [ slide() ] mixin.' +
        'The duration property must be in either s or ms units.';
  } @else if $duration % 10 == 0ms {
    // If time in ms would be shorter as seconds, convert it
    $duration: math.div($duration, 1000ms) * 1s;

    // Get rid of possible leading zero in front of decimal place
    @if string.slice($duration + '', 1, 2) == '0.' {
      $duration: #{string.slice($duration + '', 2)};
    }
  }

  @if is-falsey($delay) or
      is-alias('none', $delay) or
      $delay == 0s or $delay == 0ms
  {
    $delay: null;
  }

  @if $delay {
    @if not is-number($delay) {
      @error 'Invalid delay value of `#{meta.inspect($delay)}` for the ' +
          '[ slide() ] mixin. The delay property must be a number.';
    } @else if math.is-unitless($delay) {
      // If no there is no unit for $delay, unless $delay > 60, assume seconds
      $delay: if($delay > 60, $delay * 1ms, $delay * 1s);
    } @else if not list.index('s' 'ms', math.unit($delay)) {
      @error 'Invalid delay value of `#{meta.inspect($delay)}` for the ' +
          '[ slide() ] mixin. The delay property must be in either s or ms units.';
    } @else if $delay % 10 == 0ms {
      $delay: math.div($delay, 1000ms) * 1s;

      @if string.slice($delay + '', 1, 2) == '0.' {
        $delay: #{string.slice($delay + '', 2)};
      }
    }
  }

  @if $iterations {
    @if is-string($iterations) {
      $iterations: string.to-lower-case($iterations);
    }
    @if is-alias('infinite', $iterations) {
      $iterations: infinite;
    } @else if not (
        is-number($iterations) and math.is-unitless($iterations)
      ) and not is-global-value($iterations)
    {
      @error 'Invalid $iterations value of `#{meta.inspect($iterations)}` for ' +
          'the [ slide() ] mixin.';
    }
  }

  @if is-falsey($anim-dir) or
      is-alias('none', $anim-dir) or
      is-alias('normal', $anim-dir)
  {
    $anim-dir: null;
  } @else if is-alias('reverse', $anim-dir) {
    $anim-dir: reverse;
  } @else if is-alias('alternate', $anim-dir) {
    $anim-dir: alternate;
  } @else if is-alias('alternate-reverse', $anim-dir) {
    $anim-dir: alternate-reverse;
  } @else if not is-global-value($anim-dir) {
    @error 'Invalid animation-direction value of `#{$anim-dir}` for the ' +
        '[ slide() ] mixin.';
  }

  @if equals-false($timing-func) or is-alias('normal', $timing-func) {
    $timing-func: if(
      ($in-or-out),
      cubic-bezier(0.25, 0.46, 0.45, 0.94),
      cubic-bezier(0.55, 0.085, 0.68, 0.53)
    );
  }

  @if equals-false($anim-num) or $anim-num == '' {
    $anim-num: null;
  } @else {
    $anim-num: '-#{$anim-num}';
    $anim-suffix: string.insert(
      $anim-suffix,
      '--#{$anim-num}',
      string.length($anim-suffix) + 1
    );
  }

  animation: slide#{$anim-suffix} #{$duration} #{$timing-func} #{$delay}
    #{$iterations} #{$anim-dir} both;

  @at-root {
    @keyframes slide#{$anim-suffix} {
      0% {
        opacity: $opacity-val-1;
        transform: $trans-val-1;
      }

      100% {
        opacity: $opacity-val-2;
        transform: $trans-val-2;
      }
    }
  }
}
