@use 'sass:meta';
@use 'sass:string';
@use 'sass:list';
@use 'sass:math';
@use '../../functions/is-alias' as *;

/// Adds a wobble animation to a given element
///
/// @param {String} $direction [bottom] - The base from which the wobble is
/// generated. Takes 'top`, `t`, or `up` for the top, `left` or `l` for `left`,
/// `right` or `r` for right, and either `bottom`, `b`, `down`, or `d` for the
/// bottom.
/// @param {Time} $duration [0.8s] - The full duration of the animation
/// @param {Time} $delay [null] - A time value either in milliseconds (ms) or
/// seconds (s)
/// @param {Number|String} $iterations [null] - The number of iterations
/// to complete. If the value passed is not a number, it will be set to infinite
/// @param {Keyword} $anim-dir [null] - Sets the animation-direction property.
/// Can be `normal`, `reverse`, `alternate`, or `alternate-reverse`. Default of
/// null assumes the CSS property default of `normal`.
/// @param {Timing-Function} $timing-func [null] - The timing function for the
/// animation. The default of null will set it to the default timing function
/// of ease.
/// @param {Number|String} $anim-num [null] - If the mixin is used more than
/// once with different values in a stylesheet, you can pass a number or string
/// to the mixin here that gets appeneded to end of the animation name so that
/// the animations do not overwrite each other.
///
/// @group Animations
/// @alias {Function} is-alias
///
/// @throw Incorrect keyword value for $direction
/// @throw Invalid $duration value
/// @throw Invalid $delay value
/// @alias wobble
@mixin wobbliness(
  $direction: bottom,
  $duration: 0.8s,
  $delay: null,
  $iterations: null,
  $anim-dir: null,
  $timing-func: null,
  $anim-num: null
) {
  // Default $direction values for bottom $direction
  $dir-val1: translateX(0);
  $dir-val2: translateX(-30px) rotate(-6deg);
  $dir-val3: translateX(15px) rotate(6deg);
  $dir-val4: translateX(-15px) rotate(-3.6deg);
  $dir-val5: translateX(9px) rotate(2.4deg);
  $dir-val6: translateX(-6px) rotate(-1.2deg);

  @if $direction and meta.type-of($direction) == 'string' {
    $direction: string.to-lower-case($direction);
  }

  @if $delay and meta.type-of($delay) == 'string' {
    $delay: string.to-lower-case($delay);
  }

  @if $anim-dir and meta.type-of($anim-dir) == 'string' {
    $anim-dir: string.to-lower-case($anim-dir);
  }

  @if $timing-func and meta.type-of($timing-func) == 'string' {
    $timing-func: string.to-lower-case($timing-func);
  }

  @if $direction ==
    'top' or
    $direction ==
    't' or
    $direction ==
    'up' or
    $direction ==
    'u'
  {
    $dir-val1: translateX(0);
    $dir-val2: translateX(-30px) rotate(6deg);
    $dir-val3: translateX(15px) rotate(-6deg);
    $dir-val4: translateX(-15px) rotate(3.6deg);
    $dir-val5: translateX(9px) rotate(-2.4deg);
    $dir-val6: translateX(-6px) rotate(1.2deg);
  } @else if is-alias('left', $direction) {
    $dir-val1: translateY(0) rotate(0);
    $dir-val2: translateY(-30px) rotate(-6deg);
    $dir-val3: translateY(15px) rotate(6deg);
    $dir-val4: translateY(-15px) rotate(-3.6deg);
    $dir-val5: translateY(9px) rotate(2.4deg);
    $dir-val6: translateY(-6px) rotate(-1.2deg);
  } @else if is-alias('right', $direction) {
    $dir-val1: translateY(0) rotate(0);
    $dir-val2: translateY(-30px) rotate(6deg);
    $dir-val3: translateY(15px) rotate(-6deg);
    $dir-val4: translateY(-15px) rotate(3.6deg);
    $dir-val5: translateY(9px) rotate(-2.4deg);
    $dir-val6: translateY(-6px) rotate(1.2deg);
  } @else if
    $direction !=
    'bottom' and
    $direction !=
    'b' and
    $direction !=
    'down' and
    $direction !=
    'd'
  {
    @error 'Invalid direction of `#{meta.inspect($direction)}` for the ' +
      '`wobbliness` mixin.';
  }

  @if meta.type-of($duration) != 'number' {
    @error 'Invalid $duration value of `#{$duration}` for the ' +
        '`wobbliness` mixin. The timing property must be a number.';
  } @else if math.is-unitless($duration) {
    // If no there is no unit for $duration, assume seconds
    $duration: $duration * 1s;
  } @else if not list.index('s' 'ms', math.unit($duration)) {
    @error 'Invalid $duration value of `#{$duration}` for the ' +
        '`wobbliness` mixin. The timing property must be in either ' +
        's (seconds) or ms (milliseconds) units.';
  } @else if $duration % 10 == 0ms {
    // If time in ms would be shorter as seconds, convert it
    $duration: math.div($duration, 1000ms) * 1s;

    // Get rid of possible leading zero in front of decimal place
    @if string.slice($duration + '', 1, 2) == '0.' {
      $duration: #{string.unquote(string.slice($duration + '', 2))};
    }
  }

  @if not
    $delay or
    $delay ==
    0 or
    $delay ==
    0s or
    $delay ==
    0ms or
    is-alias('none', $delay)
  {
    $delay: null;
  }
  @if $delay {
    @if meta.type-of($delay) != 'number' {
      @error 'Invalid delay value of `#{meta.inspect($delay)}` for the `wobbliness` ' +
          'mixin. The delay property must be a number.';
    } @else if math.is-unitless($delay) {
      $delay: $delay * 1s;
    } @else if not list.index('s' 'ms', math.unit($delay)) {
      @error 'Invalid delay value of `#{meta.inspect($delay)}` for the `wobbliness` ' +
          'mixin. The delay property must be in either s or ms units.';
    } @else if $delay % 10 == 0ms {
      $delay: math.div($delay, 1000ms) * 1s;

      @if string.slice($delay + '', 1, 2) == '0.' {
        $delay: #{string.slice($delay + '', 2)};
      }
    }
  }

  @if $iterations {
    @if meta.type-of($iterations) == 'string' {
      $iterations: string.to-lower-case($iterations);
    }

    @if is-alias('infinite', $iterations) {
      $iterations: infinite;
    } @else if (
        math.is-unitless($iterations) and meta.type-of($iterations) == 'number'
      ) or
      $iterations ==
      initial or
      $iterations ==
      inherit
    {
      $iterations: $iterations;
    } @else {
      @error 'Invalid $iterations value of `#{meta.inspect($iterations)}` for the ' +
          '`wobbliness` mixin.';
    }
  } @else {
    $iterations: null;
  }

  @if not $anim-dir or is-alias('none', $anim-dir) or is-alias('normal', $anim-dir) {
    $anim-dir: null;
  } @else if is-alias('reverse' $anim-dir) {
    $anim-drection: reverse;
  } @else if is-alias('alternate' $anim-dir) {
    $anim-dir: alternate;
  } @else if is-alias('alternate-reverse' $anim-dir) {
    $anim-dir: alternate-reverse;
  } @else {
    @error 'Invalid animation-direction value of `#{$anim-dir}`' +
        'for the wobbliness` mixin';
  }

  @if not $timing-func or $timing-func == 'ease' or is-alias('none', $timing-func) or is-alias('normal', $timing-func)  {
    // Take all potential values the user might pass to keep the default setting
    // and ensure that the timing function remains at that default
    $timing-func: null;
  }

  @if not $anim-num {
    $anim-num: null;
  } @else {
    $anim-num: '-#{$anim-num}';
  }

  animation: wobble#{$anim-num} #{$duration} #{$timing-func} #{$delay} #{$iterations}
    #{$anim-dir} both;

  @at-root {
    @keyframes wobble#{$anim-num} {
      0%,
      100% {
        transform: #{$dir-val1};
        transform-origin: 50% 50%;
      }

      15% {
        transform: #{$dir-val2};
      }

      30% {
        transform: #{$dir-val3};
      }

      45% {
        transform: #{$dir-val4};
      }

      60% {
        transform: #{$dir-val5};
      }

      75% {
        transform: #{$dir-val6};
      }
    }
  }
}

/// Adds a wobble animation to a given element
///
/// @param {String} $direction [bottom] - The base from which the wobble is
/// generated. Takes 'top`, `t`, or `up` for the top, `left` or `l` for `left`,
/// `right` or `r` for right, and either `bottom`, `b`, `down`, or `d` for the
/// bottom.
/// @param {Time} $duration [0.8s] - The full duration of the animation
/// @param {Time} $delay [null] - A time value either in milliseconds (ms) or
/// seconds (s)
/// @param {Number|String} $iterations [null] - The number of iterations
/// to complete. If the value passed is not a number, it will be set to infinite
/// @param {Keyword} $anim-dir [null] - Sets the animation-direction property.
/// Can be `normal`, `reverse`, `alternate`, or `alternate-reverse`. Default of
/// null assumes the CSS property default of `normal`.
/// @param {Timing-Function} $timing-func [null] - The timing function for the
/// animation. The default of null will set it to the default timing function
/// of ease.
/// @param {Number|String} $anim-num [null] - If the mixin is used more than
/// once with different values in a stylesheet, you can pass a number or string
/// to the mixin here that gets appeneded to end of the animation name so that
/// the animations do not overwrite each other.
///
/// @group Animations
/// @alias {Function} is-alias
///
/// @throw Incorrect keyword value for $direction
/// @throw Invalid $duration value
/// @throw Invalid $delay value
/// @alias wobbliness
@mixin wobble(
  $direction: bottom,
  $duration: 0.8s,
  $delay: null,
  $iterations: null,
  $anim-dir: null,
  $timing-func: null,
  $anim-num: null
) {
  @include wobbliness(
    $direction,
    $duration,
    $delay,
    $iterations,
    $anim-dir,
    $timing-func,
    $anim-num
  );
}
