////////////////////////////////////////////////////////////////////////////////
// -------------------------------------------------------------------------- //
// betterize.scss - Opinionated normalization for better cross-browser design //
// @author Stephen M Irving -- <@metric_dev> -------------------------------- //
// @version 0.9.9 02/10/2024 ------------------------------------------------ //
// -------------------------------------------------------------------------- //
////////////////////////////////////////////////////////////////////////////////

@use 'sass:meta';
@use 'sass:map';
@use 'sass:math';
@use '../smthr/smth' as smth;

////////////////////////////////////////
// BASE STYLES: opinionated defaults ///
////////////////////////////////////////

html {
  $_root-font-size: 1em;

  @if meta.variable-exists('base-font-size') or
    meta.global-variable-exists('base-font-size', 'smth')
  {
    $_root-font-size: if(
      math.is-unitless(smth.$base-font-size),
      math.div(smth.$base-font-size, 16) * 1em,
      smth.$base-font-size
    );
  }

  overflow: hidden scroll;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: $_root-font-size;
  line-height: 1.4;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
  -moz-tab-size: 4;
  tab-size: 4;
  cursor: default;
  color-scheme: light dark;
  scrollbar-gutter: stable;
  hanging-punctuation: first last;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }

  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

*,
::before,
::after {
  box-sizing: inherit;
  min-width: 0;
  background-repeat: no-repeat;
}

::before,
::after {
  vertical-align: inherit;
  text-decoration: inherit;
}

:focus {
  outline: 0;
}

:focus-visible {
  outline: 2px solid #000;
  outline-offset: 3px;
}

:-moz-focusring {
  outline: 2px solid #000;
  outline-offset: 4px;
}

::-moz-selection {
  background: smth.$color-selection-highlight;
  color: smth.$color-selection-text;
  text-shadow: none;
}

::selection {
  background: smth.$color-selection-highlight;
  color: smth.$color-selection-text;
  text-shadow: none;
}

body {
  $_body-font-stack:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Ubuntu,
    Helvetica,
    'Helvetica Neue',
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';

  @if meta.function-exists('font-stack', 'smth') and
    meta.global-variable-exists('font-stacks', 'smth') and
    map.has-key(smth.$font-stacks, 'primary')
  {
    $_body-font-stack: smth.font-stack('primary');
  }

  overflow-x: clip;
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0;
  color: smth.$color-body;
  font-family: $_body-font-stack;

  @include smth.smooth-retina-fonts;

  @include smth.only-over-width(1280px) {
    text-rendering: optimizeLegibility;
  }
}

///
/// Correct the font size and margin on <h1> elements within <section> and
/// <article> contexts in Chrome, Firefox, and Safari.
///

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
  text-wrap: balance;
}

p {
  max-inline-size: 95ch;
  text-wrap: pretty;
}

///
/// Remove the bottom border in Chrome 57- and add the correct text decoration
/// in Chrome, Edge, IE, Opera, and Safari.
///

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
  line-height: inherit;
}

small {
  font-size: 80%;
  line-height: inherit;
}

// Prevent `sub` and `sup` elements from affecting the line height in
// all browsers.

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

///
/// Render tables with collapsed borders by default in all browsers.
///

table {
  vertical-align: middle;
  border-spacing: 0;
  border-collapse: collapse;
  border-color: currentcolor;
  text-indent: 0;
  font-variant-numeric: tabular-nums;
}

///
/// A better looking default horizontal rule.
///

hr {
  display: block;
  overflow: visible;
  box-sizing: content-box;
  height: 1px;
  font-size: 2em;
}

///
/// Correct the odd `em` font size, inheritance and size scaling issues seen
/// in some browsers.
///

code,
kbd,
pre,
samp {
  $_code-font-stack: ui-monospace, Consolas, 'Liberation Mono', Menlo, monospace;

  @if meta.function-exists('font-stack', 'smth') and
    meta.global-variable-exists('font-stacks', 'smth') and
    map.has-key(smth.$font-stacks, 'monospace')
  {
    $_code-font-stack: smth.font-stack('monospace');
  }

  font-family: $_code-font-stack;
  font-size: 1em;
}

address {
  font-style: normal;
}

///
/// Remove the list-style for <ol> and <ul> elements used in <nav> elements.
///
menu,
nav ol,
nav ul,
footer ol,
footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

// Prevent VoiceOver from ignoring list semantics in Safari

nav li::before {
  content: '\200B';
  float: left;
}

///
/// Remove the margin on nested detail lists in Chrome, Edge, IE, and Safari,
/// on nested ordered and unordered lists in Edge 18- and IE.
///

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  margin: 0;
}

///
/// Ensure dialog elements always display correctly.
///

dialog {
  position: absolute;
  right: 0;
  left: 0;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1em;
  border: solid;
  margin: auto;
  background-color: if(
    meta.variable-exists('white') or
    meta.global-variable-exists('white', 'smth'),
    smth.$white,
    #fff
  );
  color: if(
    meta.global-variable-exists('off-black', 'smth'),
    smth.$off-black,
    #222
  );
}

///
/// Ensures dialog elements without the 'open' attribute are not displayed
/// and adds the correct display value for template elements in IE.
///

dialog:not([open]),
template {
  display: none;
}

////////////////////////////////////////
// FORMS ///////////////////////////////
////////////////////////////////////////

///
/// Change the font styles correctly across browsers and remove the margins in
/// Firefox and Safari.
///

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
}

///
/// Fix the inconsistent appearance across browsers.
///

button,
input,
select,
textarea {
  padding: 0.25em 0.375em;
  border: 1px solid WindowFrame;
  background-color: transparent;
  color: inherit;
  letter-spacing: inherit;
}

///
/// Ensure the correct touch action for these elements across browsers.
///

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

///
/// Show the overflow in Edge 18- and IE.
///

button,
input {
  overflow: visible;
}

///
/// Remove the inheritance of text transform in Edge, Firefox, and IE.
///

button,
select {
  text-transform: none;
}

///
/// Correct the inability to style clickable types in iOS and Safari.
///

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

///
/// Remove the inner border and padding on focused buttons in Firefox.
///

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

///
/// Restore the focus styles unset by the previous rule.
///

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

///
/// Fix the inconsistent appearance across browsers.
///

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 1em;
  border-radius: 0;
  background: no-repeat right center / 1em;
}

select:not([multiple], [size]) {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E");
}

///
/// Remove the default vertical scrollbar in IE 10+ and restric horizontal
/// resizing in all browsers.
///

textarea {
  overflow: auto;
  resize: vertical;
}

///
/// Correct the text style of placeholders in Chrome, Edge, and Safari.
///

::input-placeholder {
  color: inherit;
  opacity: 0.54;
}

///
/// Correct the inability to style clickable types in iOS and Safari and change
/// font properties to inherit in Safari.
///

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

///
/// Fix the inconsistent appearance in IE.
///

::-ms-expand {
  display: none;
}

:input-placeholder {
  color: rgb(0 0 0 / 0.54);
}

///
/// Remove the additional :invalid styles in Firefox.
///

:-moz-ui-invalid {
  box-shadow: none;
}

///
/// Fix the inconsistent border appearance across browsers and correct the
/// padding in Firefox.
///

fieldset {
  padding: 0.35em 0.75em 0.625em;
  border: 1px solid #a0a0a0;
}

///
/// Correct the text wrapping in Edge and IE and the color inheritance from
/// <fieldset> elements in IE. Remove the padding so developers are not caught
/// out when they zero out <fieldset> elements.
///

legend {
  display: table;
  max-width: 100%;
  padding: 0;
  color: inherit;
  white-space: normal;
}

///
/// Add the correct display in Edge 18- and IE, and correct the vertical
/// alignment in Chrome, Firefox, and Opera.
///

progress {
  display: inline-block;
  vertical-align: baseline;
}

///
/// Correct the cursor style of increment and decrement buttons in Chrome.
///

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

///
/// Correct the appearance in Chrome and Safari and the outline style in Safari.
///

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

///
/// Remove the inner padding on search cancel buttons and search decorations in
/// Chrome and Safari on macOS.
///

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

////////////////////////////////////////
// EMBEDDED CONTENT ////////////////////
////////////////////////////////////////

///
/// Remove the gap between audio, canvas, iframes, images, videos and the bottom
/// of their containers: https://github.com/h5bp/html5-boilerplate/issues/440
///

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

canvas,
details,
img,
svg,
video {
  display: block;
}

:where(details > summary:first-of-type) {
  display: list-item;
}

audio,
canvas,
embed,
iframe,
img,
input,
object,
select,
textarea,
video {
  max-width: 100%;
  height: auto;
}

img {
  border-style: none;
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: smooth;
  font-style: italic;
  shape-margin: 1rem;
}

iframe {
  border: 0;
}

///
/// Hide the overflow in IE.
///

svg:not(:root) {
  overflow: hidden;
}

///
/// Ensure SVGs without fill attributes inherit color correctly.
///

svg:not([fill]) {
  fill: currentcolor;
}

////////////////////////////////////////
// ACCESSIBILITY ///////////////////////
////////////////////////////////////////

///
/// Add cursor defaults for relevant attributes.
///

[aria-busy='true'] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled='true'],
[disabled] {
  cursor: not-allowed;
}

///
/// Change the display on visually hidden accessible elements in all browsers.
///

[aria-hidden='false'][hidden] {
  display: initial;
}

[aria-hidden='false'][hidden]:not(:focus) {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

///
// Next rule only needed if using a JS framework like React. You want
// to select the top level element that your application is rendered within.
// It ensures that high-priority elements will show up above the others
// and prevents stacking context bugs and z-index issues.
///

#root,
#__next {
  isolation: isolate;
}

////////////////////////////////////////////////
/// -------------------------------------------/
/// #UTILITIES --------------------------------/
/// -------------------------------------------/
////////////////////////////////////////////////

[hidden] {
  display: none !important;
}

.flex-center {
  @include smth.flex-center;
}

.sr-only,
.visually-hidden {
  @include smth.hide-visually;
}

// Hide visually and from screen readers, but maintain layout

.invisible {
  visibility: hidden;
}

.clearfix {
  @include smth.clearfix;
}

// Modern way to clear floats

.group {
  display: flow-root;
  overflow: clip;
}

.anim-off {
  animation: none !important;
}
