/// Thoroughly hide the text of an element.
///
/// @group Utilities
/// @alias text-hide
@mixin hide-text {
  color: transparent;
  overflow: hidden;
  text-indent: 101%;
  text-shadow: none;
  white-space: nowrap;
}

/// Thoroughly hide the text of an element.
///
/// @group Utilities
/// @alias hide-text
@mixin text-hide {
  @include hide-text;
}
