/// Takes a given $angle in either turns (turn), degrees (deg), gradians (grad),
/// or radian (rad) units, and converts that angle into an alternate unit type
/// defined by $conversion-unit,
///
/// @param {Angle} $angle - An angle value. Can be in turn, deg, grad, or rad
/// units.
/// @param {String} $conversion-unit
/// @return {Angle} The converted angle.
///
/// @require {function} is-angle
/// @require {function} strip-unit
/// @require {function} pi
/// @require {function} missing-dependencies
@function conv-angle($angle, $conv-unit) {
  $_: missing-dependencies('is-angle', 'strip-unit', 'pi');
  $start-unit: unit($angle);
  $divide-supported: if(function-exists('divide'), true, false);

  @if not is-angle($angle) {
    @error 'Value of $angle in conv-angle() must be a valid angle.';
  }

  @if $conv-unit == 'turn' or $conv-unit == 'turns' or $conv-unit == 't' {
    $conv-unit: turn;
  } @else if (
    $conv-unit == 'degrees' or $conv-unit == 'degree' or
    $conv-unit == 'deg' or $conv-unit == 'degs' or $conv-unit == 'd'
  ) {
    $conv-unit: deg;
  } @else if (
    $conv-unit == 'radians' or $conv-unit == 'radian' or $conv-unit == 'rads' or
    $conv-unit == 'rad' or $conv-unit == 'r'
  ) {
    $conv-unit: rad;
  } @else if (
    $conv-unit == 'gradians' or $conv-unit == 'gradian' or
    $conv-unit == 'grads' or $conv-unit == 'grad' or $conv-unit == 'g'
  ) {
    $conv-unit: grad;
  }

  @if unit($angle) == $conv-unit {
    @return $angle;
  }

  $angle: strip-unit($angle);

  @if $start-unit == 'turn' {
    @if $conv-unit == 'deg' {
      $angle: $angle * 360deg;
    } @else if $conv-unit == 'rad' {
      $angle: $angle * pi(2rad);
    } @else if $conv-unit == 'grad' {
      $angle: $angle * 400grad;
    }
  } @else if $start-unit == 'deg' {
    @if $conv-unit == 'turn' {
      $angle: if(
        $divide-supported,
        divide($angle, 360) * 1turn,
        ($angle / 360) * 1turn
      );
    } @else if $conv-unit == 'rad' {
      $angle: if(
        $divide-supported,
        $angle * divide(pi(), 180) * 1rad,
        $angle * (pi() / 180) * 1rad
      );
    } @else if $conv-unit == 'grad' {
      $angle: if(
        $divide-supported,
        $angle * divide(200, 180) * 1grad,
        $angle * (200 / 180) * 1grad
      );
    }
  } @else if $start-unit == 'rad' {
    @if $conv-unit == 'turn' {
      $angle: if(
        $divide-supported,
        divide($angle, pi(2)) * 1turn,
        ($angle / pi(2)) * 1turn
      );
    } @else if $conv-unit == 'deg' {
      $angle: if(
        $divide-supported,
        $angle * divide(180, pi()) * 1deg,
        $angle * (180 / pi()) * 1deg
      );
    } @else if $conv-unit == 'grad' {
      $angle: if(
        $divide-supported,
        $angle * divide(200, pi()) * 1grad,
        $angle * (200 / pi()) * 1grad
      );
    }
  } @else if $start-unit == 'grad' {
    @if $conv-unit == 'turn' {
      $angle: if(
        $divide-supported,
        divide($angle, 400) * 1turn,
        $angle / 400 * 1turn
      );
    } @else if $conv-unit == 'deg' {
      $angle: if(
        $divide-supported,
        $angle * divide(180, 200) * 1deg,
        $angle * (180 / 200) * 1deg
      );
    } @else if $conv-unit == 'rad' {
      $angle: if(
        $divide-supported,
        $angle * divide(pi(), 200) * 1rad,
        $angle * (pi() / 200) * 1rad
      );
    }
  }

  @return $angle;
}
