// General Utility Functions
@forward 'asset';
@forward 'entity';
@forward 'missing-dependencies';
@forward 'order-index';
@forward 'str-replace';

// Is-Type Functions
@forward 'is-string';
@forward 'is-number';
@forward 'is-integer';
@forward 'is-float';
@forward 'is-percentage';
@forward 'is-absolute-length';
@forward 'is-relative-length';
@forward 'is-length';
@forward 'is-angle';
@forward 'is-frequency';
@forward 'is-position';
@forward 'is-resolution';
@forward 'is-time';
@forward 'is-conventional';
@forward 'is-true';

// Math Functions
@forward 'clamp';
@forward 'exp';
@forward 'exp-maclaurin';
@forward 'factorial';
@forward 'ln';
@forward 'ln-maclaurin';
@forward 'pi';
@forward 'pow';
@forward 'ratio-to-percentage';
@forward 'summation';
@forward 'to-fixed';

// Conversion Functions
@forward 'strip-unit';
@forward 'conv-angle';
@forward 'conv-to-em';
@forward 'conv-to-px';
@forward 'conv-to-rem';

// List Functions
@forward 'functions-walk';
@forward 'in-list';
@forward 'purge-list';
@forward 'remove-list';
@forward 'remove-where';
@forward 'to-list';
@forward 'update-list';
@forward 'walk';

// Map Functions
@forward 'get-val';
@forward 'get-deep-val';
@forward 'font-stack';
@forward 'map-to-list';

// Color Functions
@forward 'black';
@forward 'white';
@forward 'shade';
@forward 'tint';
@forward 'bottom-shadow';
@forward 'top-shadow';
@forward 'make-long-shadow';
