/// Takes a number to the given power.
/// @access public
///
/// @param {Number} $number - A number, the base of the operation
/// @param {Number} $exponent - The exponent taking the $number to its power
/// @return {Number} The result of the operation
///
/// @require {function} exp
/// @require {function} ln
@function pow($number, $exponent) {
  @if (round($exponent) != $exponent) {
    @return exp($exponent * ln($number));
  }

  $value: 1;

  @if ($exponent > 0) {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  } @else if ($exponent < 0) {
    @for $i from 1 through -$exponent {
      $value: $value / $number;
    }
  }

  @return $value;
}
