/// Computes a bottom-shadow for a card effect (Used by `card` mixin).
/// @access private
///
/// @param {Number} $depth - depth level
/// @return {List} Computed values for the bottom-shadow
@function bottom-shadow($depth) {
  $primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
  $blur: nth(1 3 3 5 6, $depth) * 4px;
  $color: rgba(black, nth(.24 .23 .23 .22 .22, $depth));

  @return 0 $primary-offset $blur $color;
}
