/// Converts a rem value into pixel units.
/// @access public
///
/// @param {Length} $rems - Values in REM's.
/// @param {Number} $base - The base font-size.
/// @return {Length} The values in pixels (px).
@function conv-to-px($rems, $base: null) {
  $px-vals: ();

  // If no base is defined, defer to the $base-font-size variable. If that does
  // not exist, default to 16
  @if not $base {
    $base: if($base-font-size, $base-font-size, 16);
  }

  // If the base font size is a %, then multiply it by 16px
  // This is because 100% font size = 16px in most all browsers
  @if unit($base) == '%' {
    $base: ($base / 100%) * 16px;
  }

  @each $val in $rems {
    $val-in-pixels: strip-unit($val) * $base-font-size * 1px;
    $px-vals: append($px-vals, $val-in-pixels);
  }

  @if length($px-vals) == 1 {
    @return nth($px-vals, 1);
  } @else {
    @return $px-vals;
  }
}
