/// Apply `$function` with `$args` to each item from `$list`.
/// @author Hugo Giraudel
/// @access public
///
/// @param {List} $list - List of items
/// @param {String} $function - Function to apply to every item from `$list`
/// @param {Arglist} $args - Extra arguments to pass to `$function`
/// @return {List} The result of the function being applied to the list
/// @throw Invalid function name
@function walk($list, $function, $args...) {
  @if (not function-exists($function)) {
    @error 'There is no `#{inspect($function)}` function.';
  }

  @for $i from 1 through length($list) {
    $list: set-nth($list, $i, call($function, nth($list, $i), $args...));
  }

  @return $list;
}
