/// Uses clip path to change an element to an octagonal beveled shape
///
/// @param {Length-Percentage} $size [null] - The size of the shape. If
/// the $height property is not set explicitly, it is both height and width, if
/// @param {Color|Mixed} $bg [null] The color or background value.
/// $height is set explicitly, then this value sets only the width.
/// @param {Color} $fg-color [null] The color of any text in the shape
/// @param {Length-Percentage} $height [$size] The height of the shape.
///
/// @group Shapes
@mixin bevel($size: null, $bg: null, $fg-color: null, $height: $size) {
  clip-path: polygon(
    20% 0,
    80% 0,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0 80%,
    0 20%
  );

  @if $size {
    width: $size;
    height: $height;
  }

  @if $bg {
    background: $bg;
  }

  @if $fg-color {
    color: $fg-color;
  }
}
