@use 'sass:meta';
@use 'sass:string';
@use '../../functions/is-alias' as *;

/// Uses clip path to change an element to the shape of a chevron arrow
///
/// @param {String} $direction [right] The direction the chevron is pointing
/// @param {Length-Percentage} $size [15rem] - The size of the chevron.
/// If the $height property is not set explicitly, it is both height and width,
/// @param {Color|Mixed} $bg [#fb8c00] The color or background value.
/// if $height is set explicitly, then this value sets only the width.
/// @param {Color} $fg-color [null] The color of any text in the arrow.
/// @param {Length-Percentage} $height [$size] The height of the chevron.
///
/// @group Shapes
/// @throw Invalid $direciton value
@mixin chevron(
  $direction: right,
  $size: 15rem,
  $bg: #fb8c00,
  $fg-color: null,
  $height: $size
) {
  @if meta.type-of($direction) == 'string' {
    $direction: string.to-lower-case($direction);
  }

  @if is-alias('right', $direction) {
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 0 100%, 25% 50%, 0 0);
  } @else if is-alias('left', $direction) {
    clip-path: polygon(100% 0, 75% 50%, 100% 100%, 25% 100%, 0 50%, 25% 0);
  } @else if is-alias('top', $direction) {
    clip-path: polygon(100% 100%, 50% 75%, 0 100%, 0 25%, 50% 0, 100% 25%);
  } @else if is-alias('bottom', $direction) {
    clip-path: polygon(100% 75%, 50% 100%, 0 75%, 0 0, 50% 25%, 100% 0);
  } @else {
    @error 'Invalid direction value of `#{meta.inspect($direction)}` for ' +
      'the [ chevron() ] mixin';
  }

  width: $size;
  height: $height;
  background: $bg;

  @if $fg-color {
    color: $fg-color;
  }
}
