@use 'sass:math';

/// Creates an infinity symbol out of an element, better browser support than
/// clip-path.
///
/// @param {Color|Mixed} $symbol-color [#000] The color of the symbol.
/// @param {Length-Percentage} $size [60px] - A value used to generate
/// the height and width of the symbol.
/// @param {Length-Percentage} $rad-val [50px] - The border-radius value
/// that creates the infinity shape. Can be altered to mutate the shape.
///
/// @group Shapes
@mixin infinity-symbol($symbol-color: #000, $size: 60px, $rad-val: 50px) {
  position: relative;
  width: math.round($size * 2.966666667);
  height: math.round($size * 1.666666667);

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: $size;
    height: $size;
    border: 10px solid #{$symbol-color};
  }

  &::before {
    left: 0;
    border-radius: #{$rad-val} #{$rad-val} 0;
    transform: rotate(-45deg);
  }

  &::after {
    right: 0;
    left: auto;
    border-radius: #{$rad-val} #{$rad-val} #{$rad-val} 0;
    transform: rotate(45deg);
  }
}
