@use 'sass:meta';
@use 'sass:string';
@use '../../functions/is-alias';
@use '../../functions/is-length';

/// Uses clip path to change an element to the shape of a pentagonal arrow point.
///
/// @param {String} $direction [right] The direction the arrow is pointing
/// @param {Length-Percentage} $size [15rem] - The size of the arrow. If
/// the $height property is not set explicitly, it is both height and width, if
/// @param {Color|Mixed} $bg [#fb8c00] The color or background value.
/// $height is set explicitly, then this value sets only the width.
/// @param {Length-Percentage} $height [$size] The height of the arrow.
///
/// @group Shapes
/// @throw Invalid $direction data type error.
/// @throw Invalid $direction keyword value error.
/// @throw Invalid $size data type error.
@mixin point(
  $direction: right,
  $size: 15rem,
  $bg: #fb8c00,
  $height: $size
) {
  @if $direction {
    @if meta.type-of($direction) == 'string' {
      $direction: string.to-lower-case($direction);
    } @else {
      @error 'Invalid data type for $direction in the [ point() ] mixin. ' +
          'The value for $direction must be a string.';
    }

    @if is-alias('right', $direction) or is-alias('bottom right', $direction) {
      clip-path: polygon(0 0, 75% 0, 100% 50%, 75% 100%, 0 100%);
    } @else if is-alias('left', $direction) or is-alias('top left', $direction)
    {
      clip-path: polygon(25% 0, 100% 0, 100% 100%, 25% 100%, 0 50%);
    } @else if is-alias('top', $direction) or is-alias('top right', $direction)
    {
      clip-path: polygon(100% 25%, 100% 100%, 0 100%, 0 25%, 50% 0);
    } @else if
      is-alias('bottom', $direction) or
      is-alias('bottom left', $direction)
    {
      clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
    } @else {
      @error 'Invalid direction of `#{meta.inspect($direction)}` for the ' +
          '[ point() ] mixin.';
    }
  } @else {
    @error 'You must choose a $direction for the [ point() ] mixin.';
  }

  @if is-alias('top right', $direction) or
    is-alias('bottom right', $direction) or
    is-alias('bottom left', $direction) or
    is-alias('top left', $direction)
  {
    transform: rotate(45deg);
  }

  @if not is-length($size) or not is-length($height) {
    @error 'Invalid data type for $size or $height in the [ point() ] mixin.' +
        ' You must choose a length value for these parameters.';
  }

  @if $size {
    width: $size;
    height: $height;
  }

  @if $bg {
    background: $bg;
  }
}
