/// Uses clip path to change an element to the shape of a price tag.
///
/// @param {Color|Mixed} $bg [#fb8c00] - Can be any value that is valid for the
/// background shorthand property.
/// @param {Color} $fg-color [null] - Optional argument that sets the color
/// property for the elment.
/// @param {Length|List} $padding [2rem 3rem 2rem 4rem] - Sets the size of the
/// price tag by setting its padding shorthand property.
///
/// @group Shapes
@mixin price-tag($bg: #fb8c00, $fg-color: null, $padding: 2rem 3rem 2rem 4rem) {
  clip-path: polygon(30px 0, 100% 0, 100% 100%, 30px 100%, 0 50%);
  padding: $padding;
  background: $bg;

  @if $fg-color {
    color: $fg-color;
  }
}
