@use 'sass:color';
@use 'sass:meta';
@use 'sass:math';

/// Creates a seemingly 3D ribbon shape for headers. Apply the ribbon to a
/// header element and include an inner inline element for the header's content
/// that has a class name matching the outer element but with the suffix passed
/// to this function with $content-suffix.
///
/// @param {Number} $ribbon-size [1] - A unitless number value used to
/// calculate the overall size of the ribbon.
/// @param {Length-Percentage} $font-size [1em] - The font-size of the ribbon
/// text.
/// @param {Color} $bg-color [purple] - The background color for the ribbon.
/// @param {String} $content-suffix ['-content'] - The suffix that is added
/// to the class name that this mixin is applied to, representing the internal
/// inline class that contains the ribbon's text content.
///
/// @example <h1 class="ribbon"><strong class="ribbon-content">HEADER</strong></h1>
/// @link https://css-tricks.com/snippets/css/ribbon/
///
/// @group Shapes
///
/// @throw Invalid $ribbon-size value
///
/// @alias banner
@mixin ribbon(
  $ribbon-size: 1,
  $font-size: 1em,
  $bg-color: #ba89b6,
  $content-suffix: '-content'
) {
  @if meta.type-of($ribbon-size) !=
    'number' or not
    math.is-unitless($ribbon-size)
  {
    @error 'Invalid $ribbon-size value for the `ribbon` mixin.';
  }

  position: relative;
  width: 50%;
  padding: ($ribbon-size * 1rem) ($ribbon-size * 2rem);
  margin: ($ribbon-size * 2rem) auto ($ribbon-size * 3rem);
  background: $bg-color;
  font-size: $font-size !important;
  line-height: 1;
  text-align: center;

  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: -1 * ($ribbon-size * 1rem);
    z-index: -1;
    display: block;
    border: ($ribbon-size * 1.5rem) solid color.mix(#000, $bg-color, 18.5%);
  }

  &::before {
    left: -1 * ($ribbon-size * 2rem);
    border-right-width: $ribbon-size * 1.5rem;
    border-left-color: transparent;
  }

  &::after {
    right: -1 * ($ribbon-size * 2rem);
    border-right-color: transparent;
    border-left-width: $ribbon-size * 1.5rem;
  }

  &#{$content-suffix}:before,
  &#{$content-suffix}:after {
    content: '';
    position: absolute;
    bottom: -($ribbon-size * 1rem);
    display: block;
    border-style: solid;
    border-color: color.mix(#000, $bg-color, 31%) transparent transparent;
  }

  &#{$content-suffix}:before {
    left: 0;
    border-width: ($ribbon-size * 1rem) 0 0 ($ribbon-size * 1rem);
  }

  &#{$content-suffix}:after {
    right: 0;
    border-width: ($ribbon-size * 1rem) ($ribbon-size * 1rem) 0 0;
  }
}

/// Creates a seemingly 3D ribbon shape for headers. Apply the ribbon to a
/// header element and include an inner inline element for the header's content
/// that has a class name matching the outer element but with the suffix passed
/// to this function with $content-suffix.
///
/// @param {Number} $ribbon-size [1] - A unitless number value used to
/// calculate the overall size of the ribbon.
/// @param {Length-Percentage} $font-size [1em] - The font-size of the ribbon
/// text.
/// @param {Color} $bg-color [purple] - The background color for the ribbon.
/// @param {String} $content-suffix ['-content'] - The suffix that is added
/// to the class name that this mixin is applied to, representing the internal
/// inline class that contains the ribbon's text content.
///
/// @example <h1 class="ribbon"><strong class="ribbon-content">HEADER</strong></h1>
/// @link https://css-tricks.com/snippets/css/ribbon/
///
/// @group Shapes
///
/// @throw Invalid $ribbon-size value
///
/// @alias ribbon
@mixin banner(
  $ribbon-size: 1,
  $font-size: 1em,
  $bg-color: #ba89b6,
  $content-suffix: '-content'
) {
  @include ribbon($ribbon-size, $font-size, $bg-color, $content-suffix);
}
