@use 'sass:math';
@use 'sass:meta';

/// Uses the ::after psuedo-class and borders to turn an element
/// into a six-pointed star.
///
/// @param {Number} $size [15rem] - The size of the star.
/// @param {Color} $color [#80f] The color of the star.
///
/// @group Shapes
///
/// @throw  Invalid $color value.
@mixin star-six-pointed($size: 5rem, $color: #80f) {
  @if meta.type-of($color) != 'color' {
    @error 'Invalid $color value passed to the [ star-six-pointed() ] mixin.';
  }

  position: relative;
  width: 0;
  height: 0;
  border-right: math.div($size, 2) solid transparent;
  border-bottom: $size solid $color;
  border-left: math.div($size, 2) solid transparent;

  &::after {
    content: '';
    position: absolute;
    top: $size * 0.3;
    left: $size * -0.5;
    width: 0;
    height: 0;
    border-top: $size solid $color;
    border-right: math.div($size, 2) solid transparent;
    border-left: math.div($size, 2) solid transparent;
  }
}
