@use 'sass:meta';

/// Generates the base visual styles for a button element.
///
/// @param {Color} $btn-background - The background color of the button.
/// @param {Color} $btn-color - The button text color.
/// @param {String} $btn-border - The border value for the buttton.
/// @param {Length} $btn-radius - The border radius value.
/// @param {Length} $btn-margin - The button's margin value.
/// @param {Length} $btn-padding - The button's padding value.
/// @param {List} $btn-font-family - The button's font-family stack.
/// @param {Length} $btn-font-size [1rem] - The button's font-size.
/// @param {Number|Keyword} $btn-font-weight [400] - The button's font-weight.
/// @param {String} $btn-transition [null] - The button's transition value.
/// By default, a null value here will have the mixin search for a global
/// $button-transition variable as is found in the variables file in this
/// library. If no global variable is found, it will apply the following
/// default: `background-color 0.2s ease-out, color 0.2s ease-out`.
///
/// @group Utilities
/// @require {mixin} disable-outline
/// @alias btn-base
@mixin button-base(
  $btn-background,
  $btn-color,
  $btn-border,
  $btn-radius,
  $btn-margin,
  $btn-padding,
  $btn-font-family,
  $btn-font-size: 1rem,
  $btn-font-weight: 400,
  $btn-transition: null
) {
  @if not $btn-transition {
    $btn-transition: if(
      meta.global-variable-exists(button-transition),
      $button-transition,
      (background-color 0.2s ease-out, color 0.2s ease-out)
    );
  } @else if
    $btn-transition ==
    false or
    $btn-transition ==
    'none' or
    $btn-transition ==
    'no' or
    $btn-transition ==
    'n/a'
  {
    $btn-transition: null;
  }

  display: inline-block;
  vertical-align: middle;
  padding: $btn-padding;
  border: $btn-border;
  border-radius: $btn-radius;
  margin: $btn-margin;
  background: $btn-background;
  color: $btn-color;
  text-align: center;
  cursor: pointer;
  @if $btn-font-family and $btn-font-size {
    @if $btn-font-weight {
      font: $btn-font-weight $btn-font-size $btn-font-family;
    } @else {
      font: $btn-font-size $btn-font-family;
    }
  } @else {
    @if $btn-font-family and
      $btn-font-size and
      $btn-font-weight and
      $btn-font-weight and
      $btn-font-weight !=
      400 and
      $btn-font-weight !=
      normal
    {
      font: $btn-font-weight $btn-font-size $btn-font-family;
    } @else if
      $btn-font-family and
      $btn-font-size and
      (
        not
          $btn-font-weight or
          $btn-font-weight ==
          400 or
          $btn-font-weight ==
          normal
      )
    {
      font: $btn-font-size $btn-font-family;
    } @else {
      @if $btn-font-family {
        font-family: $btn-font-family;
      }
      @if $btn-font-size {
        font-size: $btn-font-size;
      }
      @if $btn-font-weight and
        $btn-font-weight !=
        400 and
        $btn-font-weight !=
        normal
      {
        font-weight: $btn-font-weight;
      }
    }
  }
  @if $btn-transition {
    transition: $btn-transition;
  }
}

/// Generates the base visual styles for a button element.
///
/// @param {Color} $btn-background - The background color of the button.
/// @param {Color} $btn-color - The button text color.
/// @param {String} $btn-border - The border value for the buttton.
/// @param {Length} $btn-radius - The border radius value.
/// @param {Length} $btn-margin - The button's margin value.
/// @param {Length} $btn-padding - The button's padding value.
/// @param {List} $btn-font-family - The button's font-family stack.
/// @param {Length} $btn-font-size [1rem] - The button's font-size.
/// @param {Number|Keyword} $btn-font-weight [400] - The button's font-weight.
/// @param {String} $btn-transition [null] - The button's transition value.
/// By default, a null value here will have the mixin search for a global
/// $button-transition variable as is found in the variables file in this
/// library. If no global variable is found, it will apply the following
/// default: `background-color 0.2s ease-out, color 0.2s ease-out`.
///
/// @group Utilities
/// @require {mixin} disable-outline
/// @alias button-base
@mixin btn-base(
  $btn-background,
  $btn-color,
  $btn-border,
  $btn-radius,
  $btn-margin,
  $btn-padding,
  $btn-font-family,
  $btn-font-size: 1rem,
  $btn-font-weight: 400,
  $btn-transition: null
) {
  @include button-base(
    $btn-background,
    $btn-color,
    $btn-border,
    $btn-radius,
    $btn-margin,
    $btn-padding,
    $btn-font-family,
    $btn-font-size,
    $btn-font-weight,
    $btn-transition
  );
}
