@use 'sass:meta';
@use '../../functions/is-integer' as *;

/// Applies the properties necessary to clamp text to a given number of lines.
///
/// @param {Number} $lines - Clamp the text to this number of lines.
///
/// @group Utilities
/// @require {function} is-integer
///
/// @throw Invalid data type for $lines. Value must be an integer.
@mixin clamp-lines($lines) {
  @if not is-integer($lines) {
    @error 'The $lines parameter of the [ line-clamp() ] mixin must be an integer.';
  }

  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
}

/// Applies the properties necessary to clamp text to a given number of lines.
///
/// @param {Number} $lines - Clamp the text to this number of lines.
///
/// @group Utilities
/// @require {function} is-integer
///
/// @throw Invalid data type for $lines. Value must be an integer.
///
/// @alias clamp-lines
@mixin line-clamp($lines) {
  @include clamp-lines($lines);
}
