/// Gives an element dynamic width by taking an absolute length as a min-width
/// value for the first parameter, a relative length to use for the width
/// property, and then another absolute length for the max-width property.
/// Follows the same argument syntax as the CSS clamp() method, and the
/// clamp-height mixin and clamp-val function in this library. If you want to
/// get even more responsive, pass clamp(), calc(), min(), and max() functions
/// for these values.
///
/// @access public
///
/// @param {Length} $min - The minimum width. Should be an absolute length value
/// or a function that resolves to one.
/// @param {Length} $val - The relative length width of the element. Use units
/// like vw, %, em, etc. or a function using relative units.
/// @param {Length} $max - The maximum width. Should be an absolute length value
/// or a function that resolves to one.
///
/// @return {Length} If $value is within the limits, returns the $value, if it
/// is below the limit, it will return the $min, if it is above the $max, it
/// will return the $max.
@function clamp-width($min, $val, $max) {
  width: $val;
  min-width: $min;
  max-width: $max;
}
