@use 'sass:meta';
@use 'sass:string';

/// Uses flexbox to vertically and/or horizontally center an element, as well as
/// set its flex-direction property.
///
/// @param {Boolean|String} $horizontal [true] - Pass true to center the
/// contents horizontally.
/// @param {Boolean|String} $vertical [true] - Pass true to center the
/// contents vertically.
/// @param {Keyword|String} $flex-dir ['row'] - The flex-direction value.
///
/// @group Utilities
/// @throw Invalid $horizontal value
/// @throw Invalid $vertical value
/// @throw Invalid $flex-dir value
@mixin flex-center($horizontal: true, $vertical: true, $flex-dir: 'row') {
  $swap: $horizontal;
  $f-dir: row;
  $orientation: horizontal;

  @if meta.type-of($horizontal) == 'string' {
    $horizontal: string.to-lower-case($horizontal);
  }

  @if meta.type-of($vertical) == 'string' {
    $vertical: string.to-lower-case($vertical);
  }

  @if meta.type-of($flex-dir) == 'string' {
    $flex-dir: string.to-lower-case($flex-dir);
  }

  @if $horizontal ==
    true or
    $horizontal ==
    't' or
    $horizontal ==
    'yes' or
    $horizontal ==
    'y'
  {
    $horizontal: true;
  } @else if not $horizontal or
    $horizontal == 'f' or
    $horizontal =='no' or
    $horizontal == 'n'
  {
    $horizontal: false;
  } @else {
    @error 'Invalid $horizontal value for the `flex-center` mixin. ' +
        'You must pass either true or false.';
  }

  @if $vertical ==
    true or
    $vertical ==
    't' or
    $vertical ==
    'yes' or
    $vertical ==
    'y'
  {
    $vertical: true;
  } @else if not
    $vertical or
    $vertical ==
    'f' or
    $vertical ==
    'no' or
    $vertical ==
    'n'
  {
    $vertical: false;
  } @else {
    @error 'Invalid $vertical value for the `flex-center` mixin. ' +
        'You must pass either true or false.';
  }

  @if $flex-dir {
    @if $flex-dir ==
      'row-reverse' or
      $flex-dir ==
      'r-r' or
      $flex-dir ==
      'rr' or
      $flex-dir ==
      'row-rev' or
      $flex-dir ==
      'rowrev'
    {
      $f-dir: row-reverse;
    } @else if
      $flex-dir ==
      'column' or
      $flex-dir ==
      'col' or
      $flex-dir ==
      'c' or
      string.slice($flex-dir + '', 1, 4) ==
      'vert' or
      $flex-dir ==
      'v'
    {
      $f-dir: column;
      $orientation: vertical;
    } @else if
      $flex-dir ==
      'column-reverse' or
      $flex-dir ==
      'col-reverse' or
      $flex-dir ==
      'col-rev' or
      $flex-dir ==
      'colrev' or
      $flex-dir ==
      'c-r' or
      $flex-dir ==
      'c-rev' or
      $flex-dir ==
      'cr'
    {
      $f-dir: column-reverse;
      $orientation: vertical;
    } @else if
      $flex-dir !=
      'row' and
      $flex-dir !=
      'r' and
      $flex-dir !=
      'normal' and
      string.slice($flex-dir + '', 1, 5) !=
      'horiz' and
      $flex-dir !=
      'h'
    {
      @error 'Invalid `$flex-dir` value passed to the `flex-center` mixin.';
    }

    @if $orientation == 'vertical' {
      $horizontal: $vertical;
      $vertical: $swap;
    }

    flex-direction: $f-dir;
  }
  @if $vertical {
    align-items: center;
  }

  display: flex;
  @if $horizontal {
    justify-content: center;
  }
}
