@use 'sass:meta';
@use '../../functions/is-integer' as *;

/// Applies the properties necessary to clamp text to a given number of lines.
///
/// @param {Number} $lines - Clamp the text to this number of lines.
///
/// @group Utilities
@mixin line-clamp($lines) {
  @if not is-integer($lines) {
    @error 'The $lines parameter of the [ line-clamp ] mixin must be an integer.';
  }

  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
}
