/// Nest a simple max-width media query within a selector or on its own.
/// @content Styles for screen widths equal to or smaller than $threshold.
///
/// @param {Length|Resolution} $threshold - The maximum screen dimension for the
/// style.
///
/// @group Utilities
@mixin max-width($threshold) {
  @media screen and (max-width: $threshold) {
    @content;
  }
}
