/// Nest a simple min-width media query within a selector or on its own.
/// @content Styles for screen widths equal to or larger than $threshold.
///
/// @param {Length|Resolution} $threshold - The minimum screen dimension for the
/// style.
///
/// @group Utilities
@mixin min-width($threshold) {
  @media screen and (min-width: $threshold) {
    @content;
  }
}
