/// Uses a media query to apply the given styles to the Safari browser,
/// versions 10.1 and up.
///
/// @content Styles that target Safari browsers.
///
/// @group Utilities
@mixin only-safari {
  @media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance: none) {
      @content;
    }
  }
}

/// Uses a media query to apply the given styles to the Safari browser,
/// versions 10.1 and up.
///
/// @content Styles that target Safari browsers.
///
/// @group Utilities
/// @alias only-safari
@mixin safari-only {
  @media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance: none) {
      @content;
    }
  }
}

/// Uses a media query to apply the given styles to the Safari browser,
/// versions 10.1 and up.
///
/// @content Styles that target Safari browsers.
///
/// @group Utilities
/// @alias only-safari
@mixin target-safari {
  @media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance: none) {
      @content;
    }
  }
}
