/// Resets an ordered or unordered list to have no inherent style
///
/// @group Utilities
/// @alias list-reset
@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/// Resets an ordered or unordered list to have no inherent style
///
/// @group Utilities
/// @alias reset-list
@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}
