@use 'sass:math';

/// Creates a scalable element that maintains a given ratio.
///
/// @example - @include responsive-ratio(16, 9);
///
/// @param {Number} $x - The width portion of the ratio.
/// @param {Number} $y - The height portion of the ratio.
/// @parap {String} $content-class-name - The class name of the content that we
/// want to keep at the given ratio.
///
/// @group Utilities
@mixin responsive-ratio($x, $y, $child-content-class-name) {
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 100%;
    padding-top: math.percentage(math.div($y, $x));
  }

  > .#{$child-content-class-name} {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
