/// Force grayscale and anti-aliased font-smoothing on Retina and other
/// HiDPI screens.
///
/// @param {Number} $ratio [2] - The pixel ratio used to target Retina and other
/// HiDPI screens. Other common values for this ratio are 1.3 and 1.5.
///
/// @group Utilities
/// @alias smooth-hidpi-fonts
@mixin smooth-retina-fonts($ratio: 2) {
  @media screen and (-webkit-min-device-pixel-ratio: $ratio),
    only screen and (min-resolution: $ratio * 96dpi),
    only screen and (min-resolution: $ratio * 1dppx) {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}

/// Force grayscale and anti-aliased font-smoothing on Retina and other
/// HiDPI screens.
///
/// @param {Number} $ratio [2] - The pixel ratio used to target Retina and other
/// HiDPI screens. Other common values for this ratio are 1.25, 1.3 and 1.5.
///
/// @group Utilities
/// @alias smooth-retina-fonts
@mixin smooth-hidpi-fonts($ratio: 2) {
  @include smooth-retina-fonts($ratio);
}
