@use 'sass:meta';
@use 'sass:string';

/// Adds a colored text outline to a font.
///
/// @param {Color} $color [hsl(0 0% 39.2%)} - The outline color for the font.
/// @param {Bool|String} $is-important - Mark the effect as important. This
/// should almost always be avoided.
///
/// @group Utilities
@mixin text-outline($color: hsl(0 0% 39.2%), $is-important: false) {
  @if meta.type-of($is-important) == 'string' {
    $is-important: string.to-lower-case($is-important);
  }

  @if $is-important or
    $is-important ==
    't' or
    $is-important ==
    'imp' or
    $is-important ==
    'important' or
    $is-important ==
    '!important'
  {
    $is-important: !important;
  } @else {
    $is-important: null;
  }

  text-shadow:
    -1px -1px 0 #{$color},
    1px -1px 0 #{$color},
    -1px 1px 0 #{$color},
    1px 1px 0 #{$color} $is-important;
}
