/// Apply a subtle embossing text shadow effect.
/// @param {Float} $opacity - The opacity value.
/// @param {Color} $color [#fff} - The embossing shadow's color value. Must
/// either be a 3 or 6 digit hex-code or just the comma-separated red, green,
/// and blue values.
///
/// @group Utilities
@mixin text-emboss($opacity, $color: #fff, $blur: 0) {
  text-shadow: 0 1px $blur rgba($color, $opacity);
}
