/// Checks if a value is a relative length.
/// @access public
///
/// @param {*} $value - A value to be checked.
/// @return {Boolean} True if $value is a relative length, false if it is not.
@function is-relative-length($value) {
  @return (
    type-of($value) == 'number' and
    index(
      'em' 'ex' 'ch' 'rem' '%' 'vw' 'vh' 'vmin' 'vmax',
      unit($value)
    ) != null
  );
}
