/// Takes the summation of a range of numbers on an itaratee. Used in the `pow`
/// function that takes a number to a given power.
/// @access private
///
/// @param {Number} $itaratee
/// @param {Number} $input
/// @param {Number} $initial [0]
/// @param {Number} $limit [100]
///
/// @return {Number} The result of the operation
@function summation($iteratee, $input, $initial: 0, $limit: 100) {
  $sum: 0;

  @for $index from $initial to $limit {
    $sum: $sum + call($iteratee, $input, $index);
  }

  @return $sum;
}
