/// Fixes a float to a given number of decimal places.
/// @access public
///
/// @param {Number} $float - The number to format.
/// @param {Integer} $digits [2] - Number of digits to leave after the decimal.
/// @return {Number} The fixed digit number.
///
/// @require {function} pow
/// @throw $digits precision too high (if greater than 10).
@function to-fixed($float, $digits: 2) {
  $sass-precision: 10;

  @if ($digits > $sass-precision) {
    @warn 'Sass numbers only support up to #{inspect($sass-precision)} digits' +
        ' of precision after the decimal point. You have attempted to set the' +
        ' precision to `#{inspect($digits)}` in the `to-fixed` function. The ' +
        'number of digits after the decimal point was reduced from your ' +
        'requested precision to the maximum of 10.';
    $digits: 10;
  }

  $pow: pow(10, $digits);
  @return round($float * $pow) / $pow;
}
