/// Hide an element only visually, while leaving it available for screen
/// readers. Used in the hide-visually() mixin.
%visually-hide {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  white-space: nowrap;
}
